<!DOCTYPE html>
<html>
<body>
<h1> Welcome to nginx!</h1>

<p>For online documentation and support please refer to
<a href="http://nginx.org/">nginx.org</a>.<br/>
Commercial support is available at
<a href="http://nginx.com/">nginx.com</a>.</p>


<p> Machine Info:
<ul>
<li> name: {{ ansible_hostname }}</li>
<li> OS: {{ansible_distribution}} {{ ansible_distribution_version }}</li>
<li> IP address: {{ ansible_all_ipv4_addresses }}</li>
</ul>

<h2> Thank you for watching! </h2>

</body>
</html>
